*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(82, 160, 160);
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    max-width: 500px;
 
    margin: 120px auto 0 auto;
}
.container2{
    display: flex;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid black;;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}

#progressbar{
    width: 100%;
    height: 10px;
    background-color: rgb(151, 160, 151);
    border-radius: 5px;
    margin-top: 20px;
}

#numbers{
    width: 100px;
    height:100px ;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;

     max-width: 400px;
     justify-content: center;
      gap: 10px;

  
}
input{
    padding: 10px;
    border: 1px solid gray;
    flex: 1;
    border-radius: 15px;
   
}
button{
    padding: 20px;
    width:40px ;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}


.taskitem{
    display: flex;
    background-color:  #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    
}
#task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;

}

.taskitem img{
    width: 24px; 
    height: 24px;
    margin: 0 10px;
}

.task{
    display: flex;
    align-items: center;
    gap: 10px;
}

.taskinput{
    width: 20px;
    height: 20px;
}

.completed p{
    text-decoration: line-through;
    color: red
}
.detials{
    width: 100%;
}
#progress{
    width: 0%;
    height: 10px;
    background-color: green;
    border-radius: 5px;
    margin-top: 20px;
}
/* ......  */
